CMakeFiles
Makefile
CMakeCache.txt
*.a
*.o
build
build-*
tests/clio/clio_tests
libraries/appbase/version.cpp
compile_commands.json
.vscode
*.wasm
*.wat
node_modules
.DS_Store
dist
*.tsbuildinfo
.nyc_output
*.log
